body
{
	--accentColor: #ff0064;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px auto;
	grid-template-areas: 	"Head"
							"Content"
}


#header
{
	grid-area: Head;
	display: grid;
	grid-template-columns: 80px auto;
	grid-template-areas: "Logo Title";
	grid-gap: 10px;
	box-shadow: 0px 0px 5px #00000090;
}

#header #logo
{
	grid-area: Logo;
}

#header #title
{
	grid-area: Title;
	line-height: 80px;
	font-size: 40px;
	color: var(--accentColor);
}

